<div class="commentContainer container ms-5" th:id="${'commentContainer' + commentDto.id }">
  <div class="row gx-5 ">
    <div class="col-md-1">
      <div class="row gx-5">
        <a type="button" href="#" th:id="${'upvoteBtn' + commentDto.id}">
          <i class="fas fa-angle-up fa-3x"></i>
        </a>
      </div>
      <span class="d-flex justify-content-center mt-2 mb-2" th:id="${'upvoteValue' + commentDto.id}" th:text="${commentDto.upvote}"></span>
      <div class="row gx-5">
        <a type="button" href="#" th:id="${'downvoteBtn' + commentDto.id}">
          <i class="fas fa-angle-down fa-3x"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="rounded-circle shadow-4-strong" alt="avatar2" height="50px" width="50px" th:src="${'/img/' + commentDto.commenterPicture}" />
            <span class="md5 mb-5" th:text="${commentDto.commenterName}"></span>
          </div>
          <div class="col-md-6" th:if="${currentUserId == commentDto.commenterId}">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-danger" role="button" href="#" th:id="${'commentDeleteBtn' + commentDto.id}" >
                <i class="fas fa-trash"></i> Delete </a>
              <a class="btn btn-primary" role="button" href="#" th:id="${'editCommentBtn' + commentDto.id}">
                <i class="fas fa-pencil"></i> Edit </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <p class="mt-2" th:text="${commentDto.body}" th:id="${'commentBody' + commentDto.id}"></p>
          <img
                  th:if="${!commentDto.attachedPicture.isEmpty()}"
                  style="height: 100px; width: 100px"
                  th:src="${'/img/' + commentDto.attachedPicture}"
                  class="mb-4 img-fluid rounded"
                  alt="attached picture"
                  src="" />
        </div>
        <div class="col-md-2" th:if="${currentUserId == commentDto.commenterId}">
          <button type="button" th:id="${'editCommentSaveBtn' + commentDto.id}" class="btn btn-primary" href="#">Save</button>
        </div>
      </div>
      <div class="row">
        <div class="md-col">
          <a class="me-2" style="color: #3b5998;" role="button" th:id="${'commentLikeBtn' + commentDto.id}">
            <i th:if="${commentDto.isCurrentUserLikedComment}" class="fas fa-thumbs-up"></i> <!--shade like-->
            <i th:unless="${commentDto.isCurrentUserLikedComment}" class="far fa-thumbs-up"></i> <!--unshade like-->
          </a>
          <div class="vr vr-blurry" style="height: 30px;"></div>
          <button  type="button" th:id="${'replyBtn' + commentDto.id}" href="#" th:value="${commentDto.totalReplies}" th:text="${'Reply  ·  ' + commentDto.totalReplies}"
                  data-bs-toggle="modal"
                  data-bs-target="#replyModal"
                  class="btn btn-primary ms-2">Reply</button>
          <span th:text="${' at ' + commentDto.formattedTime + ' on ' + commentDto.formattedDate}"></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <input type="hidden" id="currentUserId" name="currentUserId" th:value="${currentUserId}" />
</div>