<div class="commentContainer container ms-5" th:id="${'replyContainer' + replyDto.id }">
  <div class="row gx-5 ">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="rounded-circle shadow-4-strong" alt="avatar2" height="50px" width="50px" th:src="${'/img/' + replyDto.replierPicture}" />
            <span class="md5 mb-5" th:text="${replyDto.replierName}"></span>
          </div>
          <div class="col-md-6" th:if="${currentUserId == replyDto.replierId}">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-danger" role="button" href="#" th:id="${'replyDeleteBtn' + replyDto.id}" >
                <i class="fas fa-trash"></i> Delete </a>
              <a class="btn btn-primary" role="button" href="#" th:id="${'editReplyBtn' + replyDto.id}">
                <i class="fas fa-pencil"></i> Edit </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <p class="mt-2" th:text="${replyDto.body}" th:id="${'replyBody' + replyDto.id}"></p>
          <img
                  th:if="${!replyDto.attachedPicture.isEmpty()}"
                  style="height: 100px; width: 100px"
                  th:src="${'/img/' + replyDto.attachedPicture}"
                  class="mb-4 img-fluid rounded"
                  alt="Townhouses and Skyscrapers"
          />
        </div>
        <div class="col-md-2" th:if="${currentUserId == replyDto.replierId}">
          <button type="button" th:id="${'editReplySaveBtn' + replyDto.id}" class="btn btn-primary" href="#">Save</button>
        </div>
      </div>
      <div class="row">
        <div class="md-col">
          <a class="me-2" style="color: #3b5998;" href="#" type="button" th:id="${'replyLikeBtn' + replyDto.id}">
            <i th:if="${replyDto.isCurrentUserLikedReply}" class="fas fa-thumbs-up"></i> <!--shade like-->
            <i th:unless="${replyDto.isCurrentUserLikedReply}" class="far fa-thumbs-up"></i> <!--unshade like-->
          </a>
          <div class="vr vr-blurry" style="height: 30px;"></div>
          <span class="ms-2" th:text="${' at ' + replyDto.formattedTime + ' on ' + replyDto.formattedDate}"></span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <input type="hidden" id="currentUserId" name="currentUserId" th:value="${currentUserId}" />
</div>
